header{
  background-color: navy;
  color: aliceblue;
  padding: 10px;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #f0f4f8;
}
header h1{
  color:beige;
 font-size: 30px;
 font-weight: 700;
}
.container{
  max-width: 1200px;
  margin:20px;
  padding: 20px;
}
section {
  margin-bottom: 40px;
  background-color:#f0f4f8;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 4px solid blue;
}
section:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  background-color: #3498db;
  color: #f0f4f8;
}
section:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  background-color: #3498db;
  color: #f0f4f8;
}
.about-content{
display: flex;
align-items: center;
gap: 20px;
}
.about-img{

height: 200px;
width:200px;
border-radius: 50%;
border: 5px solid brown;
}